.arrow {

  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;

}

.photo {

  max-width: 100%;
  max-height: 80vh;
  overflow: hidden;

}

.flex-container {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}

.buffer {

  height: 100%;
  width: 100vw;

  margin-top: 5vh;

}

.navbar {

  height: 100vh;
  width: 10vw;
  margin-top: 5vh;
  margin-right: 10px;
  padding-top: 10vh;
  padding-left: 10px;

  border-right: 1px dotted lightgrey;
  background-color: #fdfdff;

}

.fullPage {

  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: row;

}

.thumbnail-photo {

  height: 250px;
  width: 250px;
  padding-left: 2px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-top: 2px;
  overflow: hidden;
  /* Display a 250x250 background while the image loads to help hold its place, the image will display a rosette in this case */
  background: url('data:image/svg+xml;utf8,%3Csvg width=\'250\' height=\'250\' viewBox=\'0 0 66.146 66.146\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath style=\'fill:none;stroke-width:.264583\' d=\'M382.162 67.865h66.146v66.146h-66.146z\' transform=\'translate(-382.162 -67.865)\'/%3E%3Ctext xml:space=\'preserve\' style=\'font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:51.2578px;font-family:Arial;-inkscape-font-specification:Arial;fill:%23000;stroke-width:.266967\' x=\'10.222\' y=\'50.868\'%3E%3Ctspan style=\'font-size:51.2578px;stroke-width:.266967\' x=\'10.222\' y=\'50.868\'%3E🏵%3C/tspan%3E%3C/text%3E%3C/svg%3E');


}

.thumbnail-photo:hover {

  box-shadow: 5px 10px 18px 10px #888888;
  padding 50px;


}

.wrapp-flex {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.navbar_container {

  width: 200px;
  float: left;

}

.navbar {

  position: fixed;
  top: 5vh;
  width: 100px;

}

#sep {

  margin-left: 1ch;
  margin-right: 1ch;

}

#backButton {

  display: inline-block;
  text-decoration: none;
  background-color: #ddd;  
  color: black;
  padding: 8px 16px;
  border-radius: 10%;
  transform: translate(20px, 45vh);

}

#backButton:hover {

  background-color: #aaa;

}

#description {

  width: 800px;
  white-space: pre-wrap;

}
